:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 100%;
  margin: 0 0;
  padding: 0.25rem;
  text-align: left;
}

nav {
  display: flex;
  flex-direction: row;
  /* flex-basis: left; */
  width: 100%;
  /* max-width: 100%; */
  /* min-width: 100%; */
}

#refresh-sheet {
  /* margin-left: 3px; */
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7a7a7a;
  cursor: pointer;
  transition: border-color 0.25s;
}
#refresh-sheet:hover {
  border-color: #646cff;
}
#refresh-sheet:focus,
#refresh-sheet:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sheet {
  display: grid;
}

.grid-header {
  background-color: lightgrey;
  size: 5;
  text-align: center;
}

.cell {
  border: 1px solid #545454;
  background-color: #f9f9f9;
  size: 8;
  text-align: left;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  #refresh-sheet {
    background-color: #f9f9f9;
  }
}
