:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /** color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 0 0 0 0;
  min-width: 100vw;
  height: fit-content;
}


#app {
  max-width: 100%;
  margin: 0 0;
  padding: 0 0 0 0;
  text-align: left;
}


/** formula-bar */

header {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  align-items: left;
  justify-content: flex-start;
  position: fixed;
  height: 2ch;
  width: 100vw;
  background-color: #242424;
  z-index: 3;
}

.button {
  flex-grow: 0;
  height: 23px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
}

.button:hover {
  outline: 4px auto -webkit-focus-ring-color;
}

#refresh {
  font-family: inherit;
  z-index: 5;
}

#formula-input {
  flex-grow: 5;
  height: 2ch;
  width: 20ch;
  z-index: 4;
}

.format-button {
  font-family: 'Times New Roman', Times, serif;
}

#format-italic {
  font-style: italic;
}

#format-bold {
  font-weight:bold;
}

#format-underline {
  text-decoration-line: underline;
}

.author {
  flex-grow: 1;
  color: #656565;
  font-size: 0.7em;
  text-wrap: nowrap;
  text-align: right;
  margin: 0 2ch 0 5ch;
}

/** Sheet */

main {
  margin-top: 23px;
}

#sheet {
  display: grid;
  overflow: scroll;
  max-height: 100vh;
}

.col-header {
  background-color: #eee;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;

  &:first-of-type {
    z-index: 2;
    left: 0;
  }
}

.row-header {
  background-color: #eee;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 1;
}


.cell {
  border: 0.5px solid #b7b7b7;
  background-color: #f9f9f9;
  text-align: left;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  #refresh {
    background-color: #f9f9f9;
  }
}
