:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;

  /** color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 0 0 0;
  min-width: 100vw;
  height: fit-content;
}


#app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0 0;
  padding: 0 0 0 0;
  text-align: left;
}


/** formula-bar */

header {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  width: 100vw;
  background-color: #242424;
  z-index: 2;
}

.button {
  flex-grow: 0;
  height: 23px;
  width: 23px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  padding: 0;
}

.button:hover {
  outline: 4px auto -webkit-focus-ring-color;
}

#refresh {
  font-family: inherit;
  z-index: 5;
}

#formula-input {
  flex-grow: 5;
  width: 100%;
  z-index: 4;
}

.format-button {
  font-family: 'Times New Roman', Times, serif;
}

#format-italic {
  font-style: italic;
}

#format-bold {
  font-weight:bold;
}

#format-underline {
  text-decoration-line: underline;
}

.author {
  flex-grow: 1;
  flex-shrink: 3;
  color: #656565;
  font-size: 0.7em;
  text-wrap: nowrap;
  text-align: right;
  margin: 0 2ch 0 0;
  width: 24ch;
}

/** Sheet */

main {
  margin-top: 23px;
}

#sheet {
  display: grid;
  overflow: scroll;
  max-height: 100vh;
  background-color: #cacaca;
}

.col {
  display: flex;
  flex-flow: row nowrap;
  border: 0.5px solid #b7b7b7;
  background-color: #ddd;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
}

.col-header {
  font-size: 12px;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
}

#col-address {
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top: 0;
  left: 0;
  /* width: 96%; */
  /* height: 96%; */
  z-index: 4;
}

.col-marker {
  width: 0;
  border-right: 2px solid #ddd;
  right: 0;
  z-index: 3;
}

.col-marker:hover {
  cursor: col-resize;
  z-index: 3;
}

.row {
  display: flex;
  flex-flow: column nowrap;
  border: 0.5px solid #b7b7b7;
  background-color: #ddd;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 3;
}

.row-header {
  font-size: 12px;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  text-align: center;
  left: 0;
  top: 0;
  height: 100%;
}

.row-marker {
  height: 0;
  border-bottom: 2px solid #ddd;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.row-marker:hover {
  cursor: row-resize;
  z-index: 3;
}

.cell-row {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  border: 0.5px solid #b7b7b7;
  background-color: #f9f9f9;
}

.cell-col {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  height: 100%;
}

.cell-input {
  overflow: auto;
  border: 0;
  border-radius: 0;
  text-align: left;
  cursor: default;
  z-index: 2;
}

.cell-marker-right {
  height: 100%;
  width: 0;
  border-right: 2px transparent #f9f9f9;
  position: absolute;
  right: 0;
  z-index: 3;
}

.cell-marker-bottom {
  height: 0;
  width: 100%;
  border-bottom: 2px transparent #f9f9f9;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  #refresh {
    background-color: #f9f9f9;
  }
}
