:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /** color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 100%;
  margin: 0 0;
  padding: 0 0 0 0;
  text-align: left;
}


/** formula-bar */

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: left;
  justify-content: flex-start;
  position: fixed;
  width: 100vw;
  background-color: #242424;
  z-index: 3;
}

.button {
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
  /* cursor: pointer; */
}

.button:hover {
  /* border-color: #646cff; */
  outline: 4px auto -webkit-focus-ring-color;
}

/* .button:focus, */
/* .button:focus-visible { */
/* } */

#refresh {
  /* border: 1px solid transparent; */
  font-family: inherit;
  /* background-color: #7a7a7a; */
  /* transition: border-color 0.25s; */
  flex-grow: 0;
  z-index: 5;
}

#formula-input {
  /* size: 100%; */
  width: 20ch;
  flex-grow: 5;
  z-index: 4;
}

.format-button {
  font-family: 'Times New Roman', Times, serif;
}

#format-italic {
  font-style: italic;
  flex-grow: 0;
}

#format-bold {
  font-weight:bold;
  flex-grow: 0;
}

#format-underline {
  text-decoration-line: underline;
  flex-grow: 0;
}

.author {
  flex-grow: 1;
  color: #656565;
  font-size: 0.7em;
  text-wrap: nowrap;
  text-align: right;
  margin: 0 0 0 5ch;
}

/** Sheet */

main {
  margin-top: 23px;
}

#sheet {
  display: grid;
  overflow: scroll;
  max-height: 100vh;
}

.col-header {
  background-color: #eee;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;

  &:first-of-type {
    z-index: 2;
    left: 0;
  }
}

.row-header {
  background-color: #eee;
  text-align: center;
  position: sticky;
  left: 0;
  z-index: 1;
}


.cell {
  border: 0.5px solid #b7b7b7;
  background-color: #f9f9f9;
  text-align: left;
}

#footer {
  height: 10ch;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  #refresh {
    background-color: #f9f9f9;
  }
}
